<h1 class="my-3">Upravit účet</h1>

<%= render partial: 'breadcrumb', locals: {
  breadcrumb: {
    'Můj účet' => account_path,
    'Upravit účet' => nil,
  }
} %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, label: 'Uživatelské jméno', required: true, autofocus: true %>
    <%= f.input :email, label: 'Email', required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Čeká se na potvrzení emailu: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                label: 'Nové heslo',
                hint: "Nechte prázdné, pokud nechcete heslo změnit.",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: 'Kontrola nového hesla',
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                label: 'Současné heslo',
                hint: "Je potřeba současné heslo pro potvrzení změn.",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Uložit", class: 'btn-primary' %>
  </div>
<% end %>

<p class="mt-1">
  <%= link_to "Zpět", :back %>
</p>
