<% if tasks.size > 0 %>
  <% tasks.group_by(&:category).each do |category, tasks| %>
    <h2 class="mt-4 h4">
      <% if category %>
        Kategorie <%= render partial: 'categories/badge', locals: { category: category } %>
      <% else %>
        Žádná kategorie
      <% end %>
    </h2>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Úkol</th>
          <th scope="col">Tagy</th>
          <th scope="col">Deadline</th>
          <th scope="col">Datum vytvoření</th>
          <th scope="col">Datum změny</th>
          <th scope="col" style="width: 13rem;"></th>
        </tr>
      </thead>
      <tbody>
        <% tasks.each do |task| %>
          <tr>
            <th scope="row"><%= task.id %></th>
            <td>
              <% if task.is_done %>✔️<% end %>
              <%= task.title %>
            </td>
            <td>
              <% task.tags.each do |tag| %>
                <%= render partial: 'tags/badge', locals: { tag: tag } %>
              <% end %>
            </td>
            <td><%= if task.deadline_at then format_local_datetime task.deadline_at end %></td>
            <td><%= format_datetime task.created_at %></td>
            <td><%= format_datetime task.updated_at %></td>
            <td class="text-right">
              <%= link_to 'Detail', task_path(task) %> |
              <%= link_to 'Upravit', edit_task_path(task) %> |
              <%= link_to 'Smazat', task_path(task), method: :delete, data: { confirm: 'Opravdu smazat?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= will_paginate tasks %>
<% else %>
  <p>
    Nejsou tu žádné úkoly. Přidejte si <%= link_to 'nový úkol', new_task_path %>.
  </p>
<% end %>
