<% if tasks.any? %>
  <% tasks.group_by(&:category).each do |category, tasks| %>
    <h2 class="mt-4 h4">
      <% if category %>
        Kategorie <%= render partial: 'categories/badge', locals: { category: category } %>
      <% else %>
        Žádná kategorie
      <% end %>
    </h2>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="d-none d-md-table-cell">ID</th>
          <th scope="col">Úkol</th>
          <th scope="col" class="d-none d-md-table-cell">Tagy</th>
          <th scope="col">Deadline</th>
          <th scope="col" class="d-none d-lg-table-cell">Datum vytvoření</th>
          <th scope="col" class="d-none d-lg-table-cell">Datum změny</th>
          <th scope="col" style="width: 13rem;"></th>
        </tr>
      </thead>
      <tbody>
        <% tasks.each do |task| %>
          <tr>
            <th scope="row" class="d-none d-md-table-cell"><%= task.id %></th>
            <td>
              <% if task.is_done %><span title="Hotový úkol">✔️</span><% end %>
              <%= task.title %>
              <% if task.note %><span title="Má poznámku">📝</span><% end %>
            </td>
            <td class="d-none d-md-table-cell">
              <% task.tags.each do |tag| %>
                <%= render partial: 'tags/badge', locals: { tag: tag } %>
              <% end %>
            </td>
            <td><%= if task.deadline_at then format_local_datetime task.deadline_at end %></td>
            <td class="d-none d-lg-table-cell"><%= format_datetime task.created_at %></td>
            <td class="d-none d-lg-table-cell"><%= format_datetime task.updated_at %></td>
            <td class="text-right">
              <%= link_to "Označit jako #{task.is_done ? "ne" : ""}hotové", task_path(task.id, task: {is_done: !task.is_done}), method: :patch %><br>
              <%= link_to 'Detail', task_path(task) %> |
              <%= link_to 'Upravit', edit_task_path(task) %> |
              <%= link_to 'Smazat', task_path(task), method: :delete, data: { confirm: 'Opravdu smazat?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= will_paginate tasks %>
<% else %>
  <p>
    Nejsou tu žádné úkoly. Přidejte si <%= link_to 'nový úkol', new_task_path %>.
  </p>
<% end %>
