<h1 class="my-3">
  Upravit úkol:
  <% if @task.is_done %><span title="Hotový úkol">✔️</span><% end %> <%= @task.title %>
</h1>

<%= render 'flash_messages' %>
<%= render partial: 'breadcrumb', locals: {
  breadcrumb: {
    'Úkoly' => root_path,
    @original_task.title => task_path(@task),
    'Upravit úkol' => nil,
  }
} %>

<%= render 'form' %>

<p class="mt-1">
  <%= link_to 'Zrušit', :back %>
</p>
