<h1 class="my-3">Úkoly</h1>

<%= render partial: 'breadcrumb', locals: {
  breadcrumb: {
    'Úkoly' => nil,
  }
} %>

<p>
  <%= link_to 'Přidat nový úkol', new_task_path %> |
  Zobrazit <%= link_to 'jen hotové', tasks_completed_path %> nebo <%= link_to 'jen nehotové', tasks_pending_path %> úkoly
</p>

<%= render partial: 'list', locals: { tasks: @tasks } %>


<%#= link_to 'Nastavení', settings_path %>