<h1 class="my-3">Zapomenuté heslo</h1>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                label: 'Email',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Poslat instrukce k obnově hesla", class: 'btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
