<h1 class="my-3">
  Upravit tag
  <%= render partial: 'badge', locals: { tag: @original_tag } %>
</h1>

<%= render 'flash_messages' %>
<%= render partial: 'breadcrumb', locals: {
  breadcrumb: {
    'Nastavení' => settings_path,
    'Tagy' => tags_path,
    @original_tag.title => tag_path(@tag),
    'Upravit tag' => nil,
  }
} %>

<%= render 'form' %>

<p class="mt-1">
  <%= link_to 'Zrušit', :back %>
</p>
