<h1>Tags#index</h1>

<h1>Listing tags</h1>

<%= link_to 'New tag', new_tag_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Color</th>
    <th>Task count</th>
    <th></th>
  </tr>
 
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.title %></td>
      <td style="color: <%= tag.color %>"><%= tag.color %></td>
      <td><%= tag.tasks.size %></td>
      <td><%= link_to 'Show', tag_path(tag) %></td>
      <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
      <td><%= link_to 'Destroy', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>