<h1 class="my-3">
  Upravit kategorii
  <%= render partial: 'badge', locals: { category: @original_category } %>
</h1>

<%= render 'flash_messages' %>
<%= render partial: 'breadcrumb', locals: {
  breadcrumb: {
    'Nastavení' => settings_path,
    'Kategorie' => categories_path,
    @original_category.title => category_path(@category),
    'Upravit kategorii' => nil,
  }
} %>

<%= render 'form' %>

<p class="mt-1">
  <%= link_to 'Zrušit', :back %>
</p>
