<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Domů', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Nastavení', settings_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Kategorie', categories_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @category.title %></li>
  </ol>
</nav>

<h1>category#show</h1>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>
 
<p>
  <strong>Color:</strong>
  <span style="color: <%= @category.color %>"><%= @category.color %></span>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>