<h1 class="my-3">
  Kategorie
  <%= render partial: 'badge', locals: { category: @category } %>
</h1>

<%= render 'flash_messages' %>
<%= render partial: 'breadcrumb', locals: {
  breadcrumb: {
    'Nastavení' => settings_path,
    'Kategorie' => categories_path,
    @category.title => nil,
  }
} %>

<div class="card">
  <div class="card-body pb-0">
    <div class="card-title h3"><%= render partial: 'badge', locals: { category: @category } %></div>
  </div>
  <ul class="list-group list-group-flush pl-sm-5">
    <li class="list-group-item py-2"><em>ID:</em> <%= @category.id %></li>
    <li class="list-group-item py-2"><em>Barva:</em> <%= @category.color %></li>
    <li class="list-group-item py-2"><em>Počet úkolů:</em> <%= @category.tasks.size %></li>
    <li class="list-group-item py-2"><em>Datum vytvoření:</em> <%= format_datetime @category.created_at %></li>
    <li class="list-group-item py-2"><em>Datum změny:</em> <%= format_datetime @category.updated_at %></li>
  </ul>
  <div class="card-body">
    <%= link_to 'Upravit', edit_category_path(@category), class: 'card-link' %>
    <%= link_to 'Smazat', category_path(@category), method: :delete, data: { confirm: 'Opravdu smazat?' }, class: 'card-link' %>
  </div>
</div>

<h2 class="mt-4 h4">Úkoly v této kategorii</h2>

<%= render partial: 'tasks/list', locals: { tasks: @tasks } %>

<p class="mt-1">
  <%= link_to "Zpět", :back %>
</p>
